/* Gray text is ugly. Text should be black. */
body {
    color: #000;
}
.wy-nav-content {
    max-width: unset;
}
h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2em;
}
p {
    margin-bottom: 16px;
}

/* Desktop optimization. */
@media (min-width: 1200px) {
    .rst-content .toctree-wrapper ul li {
        margin-left: 48px;
    }
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

.rst-content table.docutils {
    border: solid 1px #555;
}
.rst-content table.docutils td {
    border: solid 1px #555;
}
.rst-content table.docutils thead th {
    border: solid 1px #555 !important;
}
.rst-content table.docutils thead th p {
    margin: 0;
}

.rst-content .section .toctree-wrapper ol li > *,
.rst-content .section .toctree-wrapper ul li > * {
    margin-top: 0;
    margin-bottom: 0;
}

.rst-content li.toctree-l1 > a {
    font-weight: bold;
}

.rst-content a {
    color: #1700b3;
}
.rst-content a:visited {
    color: #1700b3;
}

.rst-content code.literal,
.rst-content tt.literal {
    color: #007E87;
    font-weight: bold;
}

.rst-content code.xref,
.rst-content tt.xref {
    color: #1700b3;
}

/* This is needed to make transparent images have the same background color.
 * https://stackoverflow.com/questions/19616629/css-inherit-for-unknown-background-color-is-actually-transparent
 */
div, section, img {
    background-color: inherit;
}
