{#-
 # Copyright (c) 2019 UAVCAN Development Team
 # This software is distributed under the terms of the MIT License.
 # Author: Pavel Kirienko <pavel.kirienko@zubax.com>
-#}


{%- macro serialize(type, ref) -%}
    _ser_ = _dsdl_.Serializer.new(buffer_size_in_bytes={{ ((type.bit_length_set|max) + 7) // 8 }})  {# -#}
                                        # Maximum length {{ type.bit_length_set|max }} bits
    {{ _serialize_field(type, ref) }}
    return _ser_
{%- endmacro -%}

{%- macro _serialize_field(t, ref) -%}
    {%- if t is VoidType %}
    _ser_.skip_bits({{ t.bit_length }})

    {%- elif t is CompositeType -%}
        {%- for f in t.fields %}
    {{ _serialize_field(f.data_type, ref + '.' + (f|id)) }}
        {%- endfor %}

    {%- else -%}
    {%- endif -%}
{%- endmacro -%}


{%- macro deserialize(type, ref) -%}
    raise NotImplementedError
{%- endmacro -%}
