{#-
 # Copyright (c) 2019 UAVCAN Development Team
 # This software is distributed under the terms of the MIT License.
 # Author: Pavel Kirienko <pavel.kirienko@zubax.com>
-#}

{% extends "base.j2" -%}
{%- block contents -%}

# noinspection PyPep8Naming, SpellCheckingInspection
class {{ T|short_reference }}(_dsdl_.ServiceObject):
    {{ data_schema('Request',  T.request_type, T|short_reference)|indent }}

    {{ data_schema('Response', T.response_type, T|short_reference)|indent }}

    def __str__(self) -> str:
        return '{{ T }}()'

    __repr__ = __str__

    _MODEL_: _pydsdl_.ServiceType = _dsdl_.CompositeObject._restore_constant_(
        {{ T | pickle | indent(8) }}
    )
    assert isinstance(_MODEL_, _pydsdl_.ServiceType)

{%- endblock -%}
