{% extends "base.j2" -%}
{%- block contents -%}

from pydsdl import ServiceType as _ServiceType_


# noinspection PyPep8Naming, SpellCheckingInspection
class {{ T.short_name }}_{{ T.version.major }}_{{ T.version.minor }}(_CompositeObject_):
    {{ data_schema('Request',  T.request_type)|indent }}

    {{ data_schema('Response', T.response_type)|indent }}

    _TYPE_: _ServiceType_ = _CompositeObject_._restore_constant_(
        {{ T | pickle | indent(8) }}
    )
    assert isinstance(_TYPE_, _ServiceType_)

{%- endblock -%}
