__pycache__/
*.py[cod]
*.so
.Python
env/
build/
_build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.nox/
.coverage
.coverage.*
.xml
.cache
.*_cache
nosetests.xml
coverage.xml
*,cover
.*mypy.json
.python-version

.project
.pydevproject
.DS_Store
.settings/
**/.idea/*
!**/.idea/dictionaries
!**/.idea/dictionaries/*

*.tmp
*.log
.*generated
.*compiled
*.cache
*.db

.scannerwork

# MS stuff
*.code-workspace
.vscode
