__pycache__/
*.py[cod]
*.so
.Python
env/
build/
_build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.xml
.cache
.*_cache
nosetests.xml
coverage.xml
*,cover

.project
.pydevproject
.DS_Store
.settings/
.idea/

*.log
*_generated
*.cache

.scannerwork

# MS stuff
*.exe
*.code-workspace
.vscode

# DSDL generated namespaces
/uavcan/*
/sirius_cyber_corp/*
/test/*
