#
# These dependencies are needed only for development, testing, and releasing.
# The file setup.cfg contains the short list of runtime dependencies.
#

# Include runtime deps.
.
.[cli]
.[transport_can_pythoncan]
.[transport_serial]

# Testing.
pytest          ~= 4.6
pytest-asyncio  >= 0.10, < 2.0
coverage        ~= 5.0

# Static analysis. PyLint is needed for the SonarQube scanner.
# Newer versions of MyPy tend to be more useful so the version is not frozen. This may change later.
mypy        >= 0.761, < 2.0
pycodestyle ~= 2.5
pylint      ~= 2.3

# Documentation. Pending issues with Sphinx (update when resolved):
#   - https://github.com/sphinx-doc/sphinx/issues/6574
#   - https://github.com/sphinx-doc/sphinx/issues/6607
sphinx           == 2.3.1
sphinx_rtd_theme == 0.4.3
sphinxemoji      >= 0.1.4
sphinx-computron >= 0.1.0

# Packaging and distribution.
setuptools >= 40.8
wheel      >= 0.33, < 2.0
twine      ~= 1.13
