#
# These dependencies are needed only for development, testing, and releasing.
# The file setup.cfg contains the short list of runtime dependencies.
#

# Include runtime deps.
.
.[cli]
.[transport_can_pythoncan]
.[transport_serial]

# Testing.
pytest          ~= 4.5
pytest-asyncio  >= 0.10, < 2.0
coverage        ~= 4.5

# Static analysis. PyLint is needed for the SonarQube scanner.
mypy        >= 0.720, < 2.0
pycodestyle ~= 2.5
pylint      ~= 2.3

# Documentation.
sphinx           ~= 2.1
sphinx_rtd_theme == 0.4.3
sphinxemoji      >= 0.1.4
git+https://github.com/pavel-kirienko/sphinx-computron

# Packaging and distribution.
setuptools >= 40.8
wheel      >= 0.33, < 2.0
twine      ~= 1.13
