#
# Development-only dependencies that are not required to use the library.
# They are needed only for development and testing.
#

pytest          ~= 4.5
pytest-asyncio  >= 0.10, < 2.0

coverage        ~= 4.5
mypy            >= 0.711, < 2.0
pycodestyle     ~= 2.5
