#
# These dependencies are needed only for development, testing, and releasing.
# The file setup.cfg contains the short list of runtime dependencies.
#

# Include runtime deps.
.
.[cli]
.[transport_can_pythoncan]
.[transport_serial]

# Testing.
pytest          ~= 4.6
pytest-asyncio  == 0.10
coverage        ~= 5.3

# Static analysis. PyLint is needed for the SonarQube scanner.
mypy        == 0.782
pycodestyle ~= 2.6
pylint      ~= 2.6

# Documentation. Pending issues with Sphinx (update when resolved):
#   - https://github.com/sphinx-doc/sphinx/issues/6574
#   - https://github.com/sphinx-doc/sphinx/issues/6607
sphinx           == 2.3.1
sphinx_rtd_theme == 0.5.0
sphinx-computron >= 0.1.0

# Packaging and distribution.
setuptools >= 46.0
wheel      >= 0.34, < 2.0
twine      ~= 3.2
