# These dependencies are only needed to build the docs.
# There are a few pending issues with Sphinx (update when resolved):
#   - https://github.com/sphinx-doc/sphinx/issues/6574
#   - https://github.com/sphinx-doc/sphinx/issues/6607
# This file is meant to be used from the project root directory.

.[transport-can-pythoncan,transport-serial,transport-udp]
sphinx           ~= 7.2.6
sphinx_rtd_theme ~= 2.0.0
sphinx-computron ~= 1.0
